<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZTExoPlayerSample">
        <activity
            android:name=".ZtExoAct"
            android:exported="true"
            android:label="@string/title_activity_zt_exo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.ExoFragAct"
            android:exported="false" />
        <activity
            android:name=".act.ActExo"
            android:exported="true">

        </activity>

        <service
            android:name=".oneplay.PlayerService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="android.media.browse.MediaBrowserService" />
                <!-- 如果你想通过特定 action 启动 Service 播放，可以添加 -->
                <action android:name="com.example.zzt.sampleexomedia3.oneplay.ACTION_PLAY_VIDEO" />
            </intent-filter>
        </service>

        <activity
            android:name=".oneplay.OnePlayAct"
            android:exported="true" />
        <activity
            android:name=".oneplay.TwoPlayAct"
            android:exported="true" />
        <activity android:name=".twoplay.PlayAActivity" />
        <activity android:name=".twoplay.PlayBActivity" />

        <service
            android:name=".threeplay.ThreePlayerService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="com.example.zzt.sampleexomedia3.threeplay.ACTION_PLAY_VIDEO" />
            </intent-filter>
        </service>

        <activity android:name=".threeplay.PageCActivity" />
        <activity android:name=".threeplay.PageDActivity" />
    </application>

</manifest>